// APPLICATION COLORS
$primary-color: #4976ac;
$primary-color-light: #7ba5de;
$primary-color-dark: #0b4b7c;

$secondary-color: #595389;
$secondary-color-light: #877fb9;
$secondary-color-dark: #2d2a5c;
// -------------------

// TEXT COLORS
$primary-color-text: #ffffff;
$secondary-color-text: #000000;
// -------------------

// ACTIONS COLORS
$danger-color: #dd4b39;
$danger-color-dark: #b13c2e;

$success-color: #00a65a;
$success-color-dark: #008548;

$warning-color: #f39c12;
$warning-color-dark: #c27d0e;
// -------------------